:root{
    --color--viblo: #5488c7;
    --color--viblo--hover: #2363b1;
}

.search{
    width: 100%;
    height: 100vh;


    .search--container{
        position: absolute;
        padding-top: 60px;
        padding-left: 200px;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;

        .search--main{
            width: 74.95%;
            overflow-y: scroll;
            
            .search--main--child{
                padding-left: 10%;
                padding-bottom: 5%;
                padding-top: 20px;
                box-sizing: border-box;
                overflow-y: scroll;
                display: flex;

                .s--p{
                    color: #000000;
                    font-weight: bold;
                    cursor: pointer;
                    margin: 0;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                }
                
                .s--p1{
                    color: rgba($color: #000000, $alpha: 0.2);
                    font-weight: bold;
                    cursor: pointer;
                    margin: 0; 
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.sidebar--user{
    width: 100%;
    transition: 0.3s;

    .sidebar--user--infor{
        display: flex;
        align-items: center;
        .sidebar--avatar{
            width: 50px;
            height: 50px;
            margin: 10px 20px; 
            border-radius: 100%;
        }
        p{
            color: var(--color--viblo);
            font-weight: bold;
        }
    }
}

.sidebar--user:hover{
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.s--acc, .s--pst{
    padding-left: 10%;
    box-sizing: border-box;
    padding-bottom: 5%;
}